<mat-card class="example-card">
  <mat-card-header class="card-header">
    <mat-card-title>{{title}}</mat-card-title>
    <div style="margin: auto;"></div>
    <mat-button-toggle-group name="chartStyleGroup" (change)="changeStyle(chartStyleGroup.value)" #chartStyleGroup="matButtonToggleGroup" >
      <mat-button-toggle value="column"><mat-icon>bar_chart</mat-icon></mat-button-toggle>
      <mat-button-toggle value="line"><mat-icon>show_chart</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-icon-button class="close-btn" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
    <app-chart [chartStyle]="chartStyle"
               [dataSource]="chartDataSource">
    </app-chart>
  <mat-card-content>
    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
